<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothing Store</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

    <div class="navbar ">
        <div class="logo">
            <img src="/assets/icons/handbag.svg" alt="">
             <a href="/"><h2>Clothing Store</h2></a>
        </div>
        <a href="/cart">
            <div class="cart">
            <img src="/assets/icons/cart2.svg" alt="" width="35">
            <div id="cartAmount" class="cartAmount">0</div>
        </div>
        </a>
        
    </div>
    <div class="shop" id="shop">
    </div>

    <script src="/javascripts/data.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/cart.js"></script>
</body>

</html>
